<div class='sai bg-black ' style="height: 60px;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary1 " style="height:50px; margin-top:0;width:1268" >
<div class="container-fluid2" style="width:200;height:70;margin-top: 10px;margin-left: 10px;" >
    <img src="assets/images/th.jpeg" width="110"/>
  <a class="navbar-brand"  style="width:200;height:70" href="#"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>


<div class="collapse navbar-collapse" id="navbarNavDropdown" style="max-width:195; height:40px;">
    <ul class="navbar-nav" style="height: 52px;">
    
      <li class="nav-item dropdown" style="margin-left: 800px;">
        <button (click)="cart()" [style]="style"><img src="assets/images/cart.png" height="60px" width="100"/></button>
        
      </li>
      <li class="nav-item dropdown" >
        <button (click)="register()" [style]="style"><img src="assets/images/Accounts.png" height="60px" width="150"/></button>
        
      </li>
      <li class="nav-item dropdown" >
        <button (click)="profile()" [style]="style"><img src="assets/images/Profile.png" height="60px" width="70"/></button>
        
      </li>
      
    </ul>
</div>
</nav>
</div>