<!-- <div>

<div className='krishna bg-black'>
      <nav class="navbar navbar-expand-lg bg-body-tertiary1" >
  

<div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav" >
        <li class="nav-item">
          <a class="nav-link" style="color:'white'" href="#">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color:'white'" href="#">Fresh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:'white'" href="#">Amazon miniTV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color:'white'" href="#">Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:'white'" href="#">Best Sellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:'white'" href="#">Mobiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:'white'" href="#">Today's Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color:'white'" href="#">customer Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:'white'" href="#">New Releases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:'white'" href="#">Prime</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:'white'" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             A&L
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color:'white'" href="#">Home&Kitchen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:'white'" href="#">Fashion</a>
        </li>
      </ul>
</div>
</nav>
</div>
</div> -->


<div>

<div className='krishna bg-black'>
      <nav class="navbar navbar-expand-lg bg-body-tertiary1" >
  

<div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav" >
        <li class="nav-item" style="margin-left: 150px;">
          <button  class='btn btn-primary'(click)="console()" >Console</button>
          <!-- <h1 style="color:'white' onclick="console()"></h1> -->
        </li>
        <li class="nav-item"style="margin-left: 320px;">
          <button  class='btn btn-primary'(click)="Controllers()" >Controllers</button>
        </li>
        <li class="nav-item" style="margin-left: 400px;">
          <button  class='btn btn-primary'(click)="Games()" >Games</button>
        </li>

      </ul>
</div>
</nav>
</div>
</div> 