<div class="container">
    <div class="row">
      <div class="col-md-3 mx-auto my-3" *ngFor="let card of cards">
      
        <div class="card" style="width: 17rem; height: 28rem; margin:10px;" >    
         <button (click)="card.onclick()"><img [src]=card.img alt="Card image cap" height="250px" width="250px"/> </button>
          <div class="card-body">
            <h5 class="card-title"></h5>
              <h4>{{card.title}}</h4>
  
              <p class="card-text">
              {{card.description}}
              </p>
              <p>Price{{card.price}}</p>
  
              <!-- <button (cilck)="card.onclick()" class="btn btn-primary">Add to Cart</button> -->
             
          </div>
        </div>
      </div>
    </div>

    <!-- <h1>{{}}</h1> -->