<!-- 
<div style="margin-left:500px; margin-top: 30px; margin-right: 450px; border-color: black; border-radius: 5px ;border-style: solid;">
    <h1 style="background-color: blue; height: 60px;">Profile</h1>
    <div class="mb-3 row">
    <label class="col-sm col-form-label" style="margin-left: 30px;">Yourname:{{yourname}}</label>
    
  </div>
  <div class="mb-3 row">
    <label class="col-sm col-form-label " style="margin-left: 30px;">mobilenumber:{{mobilenumber}}</label>
    
  </div>
  <div class="mb-3 row">
    <label class="col-sm col-form-label" style="margin-left: 30px;">Address:{{Address}}</label>
    
  </div>
  <div class="mb-3 row">
    <label class="col-sm col-form-label" style="margin-left: 30px;">Email:{{email}}</label>
  </div>
  <button style="display:inline; margin-left: 30px; width: 110px; background-color: blue;">Edit</button>
  <button style="margin-left: 10px; width: 100px; background-color: red;">Delete</button>
  </div>

   -->

